<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Mission to Mars</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
  </head>
  
  <body style= "background-color: black">
    <div class="container">
      <!-- Add Jumbotron to Header -->
      <div class="jumbotron text-center"
      style= "background-image: url('https://images.unsplash.com/photo-1573588028698-f4759befb09a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2064&q=80'); 
      background-size: cover; background-position: center; color: rgb(235, 214, 214)">
        <h1>Mission to Mars</h1>
        <!-- Add a button to activate scraping script -->
        <p><a class="btn btn-primary btn-lg" href="/scrape" role="button" style= "color:bisque; background-color: black; border-color:rgb(180, 145, 145)">Scrape New Data</a></p>
      </div>

      <!-- Add section for Mars News -->
      <div class="row" id="mars-news">
        <div class="col-md-12">
          <div class="media">
            <div class="media-body">
              <h3 style= "color: bisque">Latest Mars News</h3>
              <h4 style= "color:rgb(194, 121, 116)" class="media-heading">{{ mars.news_title }}</h4>
              <p style= "color:blanchedalmond">{{ mars.news_paragraph }}</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Section for Featured Image and Facts table -->
      <div class="row" id="mars-featured-image">
        <div class="col-md-8">
          <h3 style= "color:bisque">Featured Mars Image</h3>

          <!-- if images is False/None/non-existent, then default to error message -->
          <img
            src="{{mars.featured_image | default('static/images/error.png', true) }}"
            class="img-responsive"
            alt="Responsive image"
          />
        </div>

        <div class="col-md-4">
          <!-- Mars Facts -->
            <div class="row" style= "color:rgb(112, 43, 49); background-color:rgb(179, 132, 121);" id="mars-facts">
            <h3 style= "color:bisque" class="text-center">Mars Facts</h3>
            <table class="table" style= "text-align: center;">{{ mars.facts | safe }}</table>
          </div>
        </div>
      </div>

      <!-- Section for Mars Hemispheres -->
      <div class="row" id="mars-hemispheres">
        <div class="page-header">
          <h3 style= "color:bisque" class="text-center">Mars Hemispheres</h3>
        </div>

        {% for hemisphere in mars.hemispheres %}
        <div class="col-xs-6 col-md-3">
          <figure class="img-responsive">
              <div class = "thumbnail" style="background-color: black;">
                  <a href = "{{hemisphere.img_url}}" target = "_blank">
                      <div>
                          <img src = "{{hemisphere.img_url}}" class="img-responsive" alt = "Responsive image" style = "width:100%">
                          <br>
                          <figcaption style="text-align: left;">{{hemisphere.title}}</figcaption>
                          <br>
                      </div>
                  </a>
               </div>
          </figure>
      </div>
  {% endfor %}
</div>
</div>
</body>
</html>